<div class="flex flex-col h-screen bg-background text-foreground">
  <header class="flex items-center justify-between p-4 bg-primary {{shadowClasses}}">
    <h1 class="text-2xl font-bold text-accent">POS (Point Of Sales) v3.0</h1>
    <!-- <div class="flex items-center">
      <span class="mr-2 text-lg font-semibold text-muted">11:22:20 AM</span>
      <span class="font-semibold text-accent">kodemade</span>
    </div> -->
    <div class="flex items-center">
      <img src="/public/user.jpg">
      <div>
        <strong>Andrew Alfred</strong>
        <span>(admin)</span>
      </div>
    </div>
  </header>
  <div class="flex flex-1">
    <nav class="w-1/8 bg-secondary text-secondary-foreground p-4 {{shadowClasses}}">
      <ul>
        <li><a routerLink="/" class="block py-2 {{hoverClasses}}">Dashboard</a></li>
        <li><a routerLink="store" class="block py-2 {{hoverClasses}}">Stores</a></li>
        <li><a routerLink="user" class="block py-2 {{hoverClasses}}">Users</a></li>
        <li><a routerLink="supplier" class="block py-2 {{hoverClasses}}">Suppliers</a></li>
        <li><a routerLink="category" class="block py-2 {{hoverClasses}}">Category</a></li>
        <li><a routerLink="products" class="block py-2 {{hoverClasses}}">Products</a></li>
        <li><a routerLink="scanner"class="block py-2 {{hoverClasses}}">Barcode Scanner</a></li>
        <li><a routerLink="reports"class="block py-2 {{hoverClasses}}">Reports</a></li>
        <li><a routerLink="creditor"class="block py-2 {{hoverClasses}}">Creditors</a></li>
        <li><a href="#" class="block py-2 bg-blue-700 {{hoverClasses}}">Logout</a></li>
      </ul>
    </nav>
    <main class="flex-1 p-4 bg-card">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
